
<h3 class="element-align">{{titulo}}</h3>
<hr>
<button 
  *ngIf="!isCart" 
  routerLink="/carrito" 
  type="button" 
  class="btn btn-success element-align" >
  Añadir al carrito
</button>
<h5 *ngIf="isCart" class="element-align">Total: ${{total}}</h5>
<h5 *ngIf="!isCart" class="element-align">Elementos Seleccionados: {{cantidad}}</h5>


<app-producto-item 
  *ngFor="let producto of productos"
  [producto]=producto
  [isCart]=isCart
  [prodInCart]=prodInCart[producto.id]
  (addOrRemoveItem) = changeCart($event);
  (showItemDetail) = "showDetailList($event)">
</app-producto-item>

<br>

<button 
  *ngIf="!isCart" 
  routerLink="/carrito" 
  type="button" 
  class="btn btn-success element-align" >
  Añadir al carrito
</button>