
<h3 class="element-align">{{titulo}}</h3>

<button 
  *ngIf="!isCart" 
  routerLink="/carrito" 
  type="button" 
  class="btn btn-success element-align" >
  Añadir al carrito
</button>

<app-producto-item 
  *ngFor="let producto of productos"
  [producto]=producto
  [isCart]=isCart
  (addOrRemoveItem) = changeCart($event);
  (showItemDetail) = "showDetailList($event)">
</app-producto-item>

<br>

<button 
  *ngIf="!isCart" 
  routerLink="/carrito" 
  type="button" 
  class="btn btn-success element-align" >
  Añadir al carrito
</button>